#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// レイヤー定義
#define L_DEF 0
#define L_QWE 1
#define L_NUM 2
#define L_SHT 3

// --- JIS配列環境用定義 ---
#define JIS_CARET EQUAL
#define JIS_AMPS   LS(N6)
#define JIS_ASTRK LS(SQT)
#define JIS_LPAR  LS(N8)
#define JIS_RPAR  LS(N9)
#define JIS_EQL   LS(MINUS)
#define JIS_PLUS  LS(SEMI)
#define JIS_LT    LS(COMMA)
#define JIS_GT    LS(DOT)
#define JIS_QMARK LS(SLASH)
#define JIS_UNDR  LS(INT1)
#define JIS_PIPE  LS(INT3)
#define JIS_BSLH  INT1
#define JIS_JPYEN  INT3
#define JIS_AT    LBKT
#define JIS_LBKT  RBKT
#define JIS_RBKT  NON_US_HASH
#define JIS_LBRC  LS(RBKT)
#define JIS_RBRC  LS(NON_US_HASH)
#define JIS_COLON SQT
#define JIS_SEMI  SEMI
#define JIS_QUOT  LS(N7)
#define JIS_DQUOT LS(N2)
#define JIS_GRV   LS(LBKT)
#define JIS_TILDE LS(EQUAL)
#define JIS_DLLR  LS(N4)
#define JIS_PRCNT LS(N5)
#define JIS_EXCL  LS(N1)
#define JIS_HASH  LS(N3)

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            require-prior-idle-ms = <125>;
        };

        ht_combo: ht_combo {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&to>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // 通常Combos（短押しのみ）
        combo_excl  { timeout-ms = <20>; key-positions = <2 3>;   bindings = <&kp JIS_EXCL>; layers = <L_DEF L_QWE>; };
        combo_qmark { timeout-ms = <20>; key-positions = <8 9>;   bindings = <&kp JIS_QMARK>; layers = <L_DEF L_QWE>; };
        combo_lbkt { timeout-ms = <20>; key-positions = <3 16>;  bindings = <&kp JIS_LBKT>; layers = <L_DEF L_QWE>; };
        combo_rbkt { timeout-ms = <20>; key-positions = <19 8>;  bindings = <&kp JIS_RBKT>; layers = <L_DEF L_QWE>; };

        // 短押し=クオート / 長押し=Shift+Alt
        combo_dquot { timeout-ms = <20>; key-positions = <14 16>;  bindings = <&mt RS(RALT) JIS_DQUOT>; layers = <L_DEF L_QWE>; };
        combo_quot { timeout-ms = <20>; key-positions = <19 21>;  bindings = <&mt LS(LALT) JIS_QUOT>; layers = <L_DEF L_QWE>; };

        // 短押し=LANG / 長押し=Ctrl+Alt
        combo_lang1 { timeout-ms = <30>; key-positions = <20 21>; bindings = <&mt RC(RALT) LANG1>; layers = <L_DEF L_QWE>; };
        combo_lang2 { timeout-ms = <30>; key-positions = <14 15>; bindings = <&mt LC(LALT) LANG2>; layers = <L_DEF L_QWE>; };

        // 短押し=レイヤー切り替え / 長押し=Ctrl+Shift+Alt
        combo_to_def    { timeout-ms = <20>; key-positions = <19 20 21>; bindings = <&ht_combo RC(RS(RALT)) L_DEF>; layers = <L_QWE>; };
        combo_to_qwerty { timeout-ms = <20>; key-positions = <14 15 16>; bindings = <&ht_combo LC(LS(LALT)) L_QWE>; layers = <L_DEF>; };

        // 短押し=カッコ / 長押し=Ctrl+Shift
        combo_lpar { timeout-ms = <20>; key-positions = <15 16>; bindings = <&mt LC(LSHIFT) JIS_LPAR>; layers = <L_DEF L_QWE>; };
        combo_rpar { timeout-ms = <20>; key-positions = <19 20>; bindings = <&mt RC(RSHIFT) JIS_RPAR>; layers = <L_DEF L_QWE>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LS(JIS_LBKT)  &kp LS(JIS_RBKT)  &kp C            &hm LC(LS(LALT)) L  &kp COMMA        &kp DOT          &kp F           &kp W           &hm LC(LS(LALT)) H  &kp Y       &kp P       &kp V
&hm LSHFT Q       &hm LGUI E        &hm LALT I       &hm LCTRL O         &hm LSHFT A      &kp U            &kp K           &hm RSHFT T     &hm RCTRL N         &hm RALT S  &hm RGUI R  &hm RSHFT J
&kp JIS_AT        &kp X             &kp JIS_SEMI     &kp JIS_COLON       &kp MINUS        &kp SLASH        &kp G           &kp D           &kp M               &kp Z       &kp B       &kp JIS_BSLH
&hm LSHFT ESC     &lt L_SHT TAB     &lt L_NUM SPACE  &lt L_SHT BSPC  	 &lt L_SHT RET    &hm LSHFT CAPS
            >;
        };

        qwerty_layer {
            bindings = <
&kp JIS_AT              &kp Q       &kp W       &hm LC(LS(LALT)) E  &kp R        &kp T   &kp Y   &kp U        &hm LC(LS(LALT)) I  &kp O       &kp P              &kp MINUS
&hm LSHFT LS(JIS_LBKT)  &hm LGUI A  &hm LALT S  &hm LCTRL D         &hm LSHFT F  &kp G   &kp H   &hm RSHFT J  &hm RCTRL K         &hm RALT L  &hm RGUI JIS_SEMI  &hm RSHFT JIS_COLON
&kp LS(JIS_RBKT)        &kp Z       &kp X       &kp C               &kp V        &kp B   &kp N   &kp M        &kp COMMA           &kp DOT     &kp SLASH          &kp JIS_BSLH
&trans      			&trans      &trans      &trans  			&trans		 &trans
            >;
        };

        num_sym_layer {
            bindings = <
&kp F1               &kp F2        &kp F3         &hm LC(LS(LALT)) F4  &kp F5        &kp F6          &kp F7         &kp F8        &hm LC(LS(LALT)) F9  &kp F10       &kp F11        &kp F12
&hm LSHFT JIS_CARET  &hm LGUI N1   &hm LALT N2    &hm LCTRL N3         &hm LSHFT N4  &kp N5          &kp N6         &hm RSHFT N7  &hm RCTRL N8          &hm RALT N9   &hm RGUI N0    &hm RSHFT JIS_TILDE
&kp LS(JIS_AT)       &kp JIS_EXCL  &kp JIS_DQUOT  &kp JIS_HASH         &kp JIS_DLLR  &kp JIS_PRCNT   &kp JIS_AMPS   &kp JIS_QUOT  &kp JIS_LPAR          &kp JIS_RPAR  &kp JIS_QMARK  &kp JIS_PIPE
&trans         		 &trans        &trans         &trans 		       &trans        &trans
            >;
        };

        shortcut_layer {
            bindings = <
&bt BT_SEL 2  &kp LC(A)       &kp PSCRN       &mkp LCLK        &mkp RCLK        &mkp MCLK     &kp HOME  &kp PG_UP   &kp UP     &kp PG_DN   &kp END   &out OUT_TOG
&bt BT_SEL 1  &hm LGUI LC(Z)  &hm LALT LC(X)  &hm LCTRL LC(C)  &hm LSHFT LC(V)  &kp LC(Y)     &kp BSPC  &kp LEFT    &kp DOWN   &kp RIGHT   &kp DEL   &bt BT_SEL 4
&bt BT_SEL 0  &kp C_MUTE      &kp C_VOL_DN    &kp C_VOL_UP     &kp C_BRI_DN     &kp C_BRI_UP  &kp RET   &kp C_PREV  &kp C_PP   &kp C_NEXT  &kp INS   &bt BT_SEL 3
&trans        &trans          &trans          &trans           &trans 		    &trans
            >;
        };
    };
};
